# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/

# Temporary files
*.tmp
*.log
*.swp
*.pid
*.seed
*.pid.lock
.next/

# Environment variables
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/
.idea/
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Testing
coverage/
jest-cache/
jest-output/

# React-specific
*.cache
public/static/
public/*.map

# Git-specific
*.orig
.qodo
